In [1]:
from bs4 import BeautifulSoup
import re

url = "/Users/min-hsunchang/Downloads/World_Population.html"
page = open(url)
soup = BeautifulSoup(page.read())

In [2]:
trs = soup.find_all("tr")[1:]

In [3]:
data = [i for i in trs][1:]
table = []
for i in range(len(data)):
    tds = trs[i].find_all("td")
    temp = []
    for j in range(1, len(tds)):
        if j == 6:
            temp.append(float(tds[j].text.replace(",", "")))
        else:
            temp.append(tds[j].text)
    table.append(temp)

In [4]:
table.sort(key = lambda x : x[5], reverse = True)

In [5]:
import pandas as pd
title = [
    "Country", "2023 Population", "2022 Population", 
    "Area", "Land Area", "Density", 
    "Growth Rate", "World", "Rank"
]
df = pd.DataFrame(table, columns = title)
df

,Country,2023 Population,2022 Population,Area,Land Area,Density,Growth Rate,World,Rank
0,Macau,"701,508","695,168",33,33,21403.00,1.29%,0.01%,167
1,Monaco,"36,297","36,469",2,2,18149.00,-0.47%,0%,217
2,Singapore,"6,004,159","5,975,689",710,718,8377.00,0.65%,0.08%,114
3,Hong Kong,"7,489,848","7,488,865",1.1K,1.1K,7135.00,0.04%,0.09%,104
4,Gibraltar,"32,688","32,649",7,7,4807.00,0.12%,0%,219
...,...,...,...,...,...,...,...,...,...
228,Namibia,"2,593,608","2,567,012",825.6K,823.3K,3.00,1.45%,0.03%,145
229,Mongolia,"3,433,952","3,398,366",1.6M,1.6M,2.00,1.44%,0.04%,133
230,Western Sahara,"583,738","575,986",266K,266K,2.00,1.96%,0.01%,172
231,Falkland Islands,"3,791","3,780",12.2K,12.2K,0.31,0.29%,0%,231
232,Greenland,"56,643","56,466",2.2M,410.4K,0.14,0.31%,0%,208